<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mealsnap_prototype_2">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MealSnap_Prototype_2">
        <activity android:name=".ConfirmActivity"></activity>
        <activity android:name=".PostDetailActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".PhotoDetailActivity" />
        <activity android:name=".SearchDetailActivity" />
        <activity
            android:name=".ComposerActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".OnboardingActivity" />
        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".OnboardingActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".OnboardingActivity" />
        <activity android:name=".ConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>